body {
    padding-top: 5vh;
}

.count {
    position: absolute;
    top: 0;
    right: 3vw;
}

section.multiple {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.multiple h1 {
    padding-left: var(--padding-index);
    padding-right: var(--padding-index);
    text-align: center;
}

section.multiple div>div {
    border: 0.05rem solid var(--clr-primary);
    background-color: var(--clr-btn);
    width: 100%;
    margin-top: var(--vh-margin);
    padding: var(--padding-index);
    text-align: center;
    cursor: pointer;
    transition: all var(--transition-slow);
}

section.multiple div>div:hover {
    background-color: var(--clr-btn-accent);
}

section.multiple .result {
    margin-top: var(--margin-index);
}

section.multiple div>div.correct {
    background-color: var(--clr-success);
}

section.multiple div>div.incorrect {
    background-color: var(--clr-error);
}

@media (min-width: 600px) {
    section.multiple div>div {
        margin-top: calc(var(--vh-margin) - 0.5rem);
    }
}