:root {
    --clr-primary: rgb(8, 68, 104);
    --clr-secondary: rgb(239, 248, 255);
    --clr-btn: rgb(179, 220, 242);
    --clr-btn-accent: rgb(131, 199, 235);

    --clr-error: rgb(235, 131, 131);
    --clr-success: rgb(131, 235, 133);

    --font-size: 1rem;
    --font-size-multiplier: 1.2;

    --vh-margin: 10vh;
    --padding-index: 0.5rem;
    --margin-index: 1.5rem;
    --gap-index: calc(0.3rem + 0.3vw);

    --transtion-fast: 0.15s;
    --transition-medium: 0.3s;
    --transition-slow: 0.5s;
}